<p>Hi! I'm Haile, pronunciation: 
    <a href="https://en.wikipedia.org/wiki/File:Haile_Selassie.ogg"> haɪlə</a>
</p>

<p>I've been working as a software developer for <b>a little over 2 years</b>. In that time, I've worked on financial technology such as crypto-currency exchanges and payment systems/infrastructure with
<a href="https://elixir-lang.org/">elixir</a>, <a href="https://www.ruby-lang.org/">ruby</a> and <a href="https://go.dev/">go</a>
on the server side and javascript/typescript - <a href="https://vuejs.org/">vue.js</a> and <a href="https://reactjs.org/">react.js</a> on the client.</p>

<p>I started out experimenting with python in the middle of my chemical engineering bachelor's and somehow started building stuff on the internet.</p>
