<p>Hi! I'm Haile!</p>

<p> I'm Nigerian-Ethiopian, my name is pronounced <a href="https://en.wikipedia.org/wiki/File:Haile_Selassie.ogg"> haɪlə - (highly) </a></p>

<p> I write software. It's been about three years now, professionally in <a href="https://elixir-lang.org/">elixir</a>, <a href="https://www.ruby-lang.org/">ruby</a> and <a
    href="https://go.dev/"> go(lang) </a> — on the backend of server side products typically monoliths and sometimes distributed systems. I write open source <a href="https://www.rust-lang.org/">rust</a> sometimes.
</p>

<!--
<p>
    I used to amateur invest. In 2021, I profited from trading tokens in Ethereum, constitutionDAO and Ethereum Name Service -- mostly got lucky.  <a href="https://www.hailelagi.com/notes/cryptocurrency/">My views have evolved. </a> I would like to someday learn about financial markets properly.
</p>
-->

<!--

    On my own time, <a href="https://www.google.com/search?q=do+not+build+your+own+database">I'm figuring out/learning how to build </a> a small database for the BEAM it's a horrible mess of WIP but I'll figure it out... 
    eventually -- one commit at a time and validate if it's a good or bad idea.
</p>

-->