<p>Hi! I'm Haile!</p>

<p> I'm Nigerian-Ethiopian. My name's of <i>Amharic</i> origin and is pronounced <a href="https://en.wikipedia.org/wiki/File:Haile_Selassie.ogg"> haɪlə</a> I'm currently <a href="https://www.youtube.com/watch?v=5llYRcR-SAA"> taking it easy and having fun! </a></p>

<p>Previously I've worked (remotely) as a software engineer for <b>about 2 - 3 years</b>. Primarily
    on <i>financial technology</i> with
    <a href="https://elixir-lang.org/">elixir</a>, <a href="https://www.ruby-lang.org/">ruby</a> and <a
        href="https://go.dev/"> go(lang) </a> — which were event-driven and sometimes distributed systems.
</p>

<p>I started out experimenting with python for <a href ="https://cantera.org/"> modelling physical phenomena</a>
    in the middle of my chemical engineering bachelor's and somehow started building stuff on/for the internet.</p>
