<h4 class="category"> Notes </h4>

<p>Interesting snippets, less serious writing and random stuff </p>

{{ range where (where .Site.Pages "Section" "notes") ".IsPage" "==" true }}

<ul id="posts">
    {{ if in .Params.tags "archive"}}
    {{ else }}
        <li>
            <a href="{{ .Permalink }}">
                {{ .Title }}
                <div id="magic-box-i-am-bad-at-css">
                    <small>
                        <time>{{ .Date.Format "Jan 2, 2006" }}</time>
                    </small>
                    <span id="badge"> {{ .Params.tags }} </span>
                </div>
            </a>
       </li>
    {{- end }}
    {{- end }}
</ul>
